.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-img-top {
  height: 10vw;
  object-fit: cover;
}

<<<<<<< HEAD
.img {
  height: 15vw;
=======
.img{
  height:15vw;
>>>>>>> ef652daf61f425755c77c5fe7d0072c4e3bd91ab
  width: 100%;
}

a {
<<<<<<< HEAD
  color: #1b28df;
  text-decoration: none !important;
  font-weight: bolder;
}

a:hover {
  color: red;
}
=======
	color: #1b28df;
	text-decoration: none !important;
	font-weight: bolder;
}

a:hover{
	color:red;
}
>>>>>>> ef652daf61f425755c77c5fe7d0072c4e3bd91ab
